@layer components {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2337c6 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2337c6;
    border-radius: 20px;
  }

  .parallax-scroll {
    transform-style: preserve-3d;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}